<nav class="navbar navbar-light mb-4 bg-green">
  <a class="navbar-brand text-white" href="#">
    <img src="../assets/images/breaking-png.png" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Breaking Bad Characters
  </a>
</nav>
<div class="container">
  <app-home></app-home>
</div>