<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4 card-deck d-flex" *ngFor="let character of characters">
        <div class="card">
            <div class="row text-white no-gutters bg-green">
                <h5 class="col-md-12 card-title mb-0 pl-3 pt-2">{{character.name}}</h5>
                <h6 class="col-md-12 card-title pl-3">{{character.nickname}}</h6>
            </div>
            <div class="row no-gutters h-100">
                <div class="col-md-4 d-flex align-items-center justify-content-center bg-light">
                    <img src="{{character.img}}" class="card-img img-fluid" height="100%"
                        alt="Photo of {{character.name}}">
                </div>
                <div class="col-md-8 no-gutters d-inline-flex">
                    <div class="card-body pl-2">

                        <dl class="row mb-0">
                            <dt class="col-md-4 pr-0">
                                <p class="h6 mb-0">Status</p>
                            </dt>
                            <dd class="col-md-8 pr-0">
                                <p class="mb-0">{{character.status}}</p>
                            </dd>
                            <dt class="col-md-4 pr-0">
                                <p class="h6 mb-0">Occupation</p>
                            </dt>
                            <dd class="col-md-8 pr-0">
                                <p class="mb-0">{{character.occupation}}</p>
                            </dd>
                            <dt class="col-md-4 pr-0">
                                <p class="h6 mb-0">Seasons</p>
                            </dt>
                            <dd class="col-md-8 pr-0">
                                <p class="mb-0">{{character.appearance}}</p>
                            </dd>
                            <dt class="col-md-4 pr-0">
                                <p class="h6 mb-0">Actor/Actress</p>
                            </dt>
                            <dd class="col-md-8 pr-0">
                                <p class="mb-0">{{character.portrayed}}</p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>